/* App.css */

html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.title {
  font-size: 24px;
  margin-bottom: 20px;
}


.train-item {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.content-container {
  min-height: 100vh;
  width: 100%;
}


.main-content {
  display: flex;
}

.stations-list {
  flex: 1;
}

.station-codes {
  width: 200px; /* Adjust the width as needed to position it on the side */
}

.signout-button-container, .remove-button-container, .link-container {
  padding: 20px;
  margin: auto;
}

.signout-button {
  display: block; /* Display the button on its own line */
  margin: auto;
  margin-top: 10px;
}

.station {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2PX solid black;
  width: 60%;
}

.dark-mode {
  background-color: #111;
  color: #fff;
}

.dark-mode-button {
  background-color: #333; /* Dark background colour */
  color: #fff; 
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Show cursor on hover */
}

.dark-mode-button:hover {
  background-color: #555; /* Change colour on hover */
}

.dark-mode-button-container {
  position: fixed;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
}
